/* 
    ==========================================================================
    AbiLang Color Hunt Palette #1a2a80 Theme Variables (Cosmic Lavender Theme)
    ========================================================================== 
*/

body {
    --bg-app: #090014;
    --bg-pane: #15082b;
    --border-color: #32225a;

    --vue-green: #7bff00;
    --vue-dark-blue: #8f5cff;
    --vue-cyan: #00eaff;
    --vue-rose: #ff4fd8;

    --text-main: #ffffff;
    --text-muted: #b6add3;
    --btn-text: #090014;

    --editor-bg: #272822;
    --token-comment: #75715E;
    --token-string: #E6DB74;
    --token-keyword: #F92672;
    --token-logical: #F92672;
    --token-constant: #AE81FF;
    --token-builtin: #66D9EF;
    --token-function: #A6E22E;
    --token-number: #AE81FF;
    --token-text: #F8F8F2;
}

body.light-theme {
    --bg-app: #f3f0ff;
    --bg-pane: #fcfbff;
    --border-color: #d4c8ff;

    --vue-green: #4CAF50;
    --vue-dark-blue: #6d28d9;
    --vue-cyan: #00cfff;
    --vue-rose: #ff4fcf;

    --text-main: #23124f;
    --text-muted: #75669f;
    --btn-text: #ffffff;

    --editor-bg: #fdfdfd;
    --token-comment: #93a1a1;
    --token-string: #2aa198;
    --token-keyword: #d33682;
    --token-logical: #d33682;
    --token-constant: #b58900;
    --token-builtin: #268bd2;
    --token-function: #859900;
    --token-number: #cb4b16;
    --token-text: #586e75;
}